{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="my-3">Liste des sondages en cours</h1>
    <p><a href="{{ path('save_sondage') }}"><button class="btn btn-info">Ajouter un sondage</button></a></p>

<ul class="list-group">
    {% for sondage in sondages %}
        <li class="list-group-item">
            <a href="{{ path('single_sondage', {id: sondage.id}) }}">{{ sondage.nom }}</a>
            <ul class="list-group">
                {% for question in sondage.questions %}
                    <li class="list-group-item">
                        {{question.titre}}
                        <ul class="list-group">
                            {% for reponse in question.reponses %}
                            {# On attribue une valeur à la variable textColor 
                            en fonction de la valeur de la propriété highScore de la réponse #}
                            {% if reponse.highScore %}
                                {% set textColor = 'text-success' %}
                            {% else %}
                                {% set textColor = '' %}  
                            {% endif %}
                                <li class="list-group-item {{textColor}}">
                                    {{reponse.titre}} |
                                    score: {{reponse.score}}
                                </li>
                            {% else %}
                                <li class="list-group-item">Il n'y a pas de réponse pour le moment</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="list-group-item">Il n'y a pas de question pour le moment</li>
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li class="list-group-item">Il n'y a pas de sondages pour le moment</li>
    {% endfor %}
</ul>

{% endblock %}
